body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #23df4c, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
}

#message {
    font-size: 14px;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.loading {
    color: blue;
}

